[package]
name = "bevy_picking_highlight"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy_picking_core = { path = "../bevy_picking_core" }
bevy_picking_input = { path = "../bevy_picking_input" }
bevy_picking_selection = { path = "../bevy_picking_selection" }
bevy = { version = "0.9", default-features = false, features = [
    "render",
    "bevy_asset",
] }
