on: 
  pull_request:
  push:
    branches:
      - master

name: CI

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update Packages
        run: sudo apt-get update -yq
      - name: Install dependencies
        run: sudo apt-get install -yq --no-install-recommends libudev-dev libasound2-dev libxcb-composite0-dev

      - name: Install fmt
        run: rustup component add rustfmt
      
      - name: fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: Install clippy  
        run: rustup component add clippy
      
      - name: run clippy
        uses: actions-rs/cargo@v1
        with:
         command: clippy
         args: -- -D warnings
     
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
